<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站界面</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.9.0/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.0/dist/axios.min.js"></script>
</head>
<style>
    html,body{
        /*设置内部填充为0，几个布局元素之间没有间距*/
        padding: 0px;
        /*外部间距也是如此设置*/
        margin: 0px;
        /*统一设置高度为100%*/
        height: 100%;
    }
</style>
<body>
<div id="app">
    <el-card style="height: 70px;border-radius: 0px">
        <span>Nginx版本号:{{nginxVersion}}</span>
        <span style="margin-left: 50px">状态:{{nginxStatus}}</span>
        <span style="margin-left: 50px">操作:</span>
        <el-button size="small" type="success" @click="startNginx">启动</el-button>
        <el-button size="small" type="warning" @click="restartNginx">重启</el-button>
        <el-button size="small" type="danger" @click="stopNginx">关闭</el-button>
    </el-card>
    <el-card style="height: 480px;border-radius: 0px;margin-top: 20px">
        <span>网站管理</span>
        <el-divider></el-divider>
        <el-button size="small" type="success" @click="dialogAddWebForm = true">添加网站</el-button>
		<el-dialog title="网站" :visible.sync="dialogAddWebForm">
		    <el-form :model="WebSiteForm" label-width="100px">
		        <el-form-item label="域名">
		            <el-input style="width: 300px" v-model="WebSiteForm.domain"></el-input>
		        </el-form-item>
				<el-form-item label="端口">
		            <el-input style="width: 300px" v-model="WebSiteForm.port"></el-input>
		        </el-form-item>
		    </el-form>
		    <div slot="footer" class="dialog-footer">
		        <el-button @click="dialogAddWebForm = false">取 消</el-button>
		        <el-button type="primary" @click="addWebSiteTrue">确 定</el-button>
		    </div>
		</el-dialog>
        <el-table :data="website" style="width: 100%">
            <el-table-column
                    prop="domain"
                    label="网站名"
                    width="250">
            </el-table-column>
<!--            <el-table-column-->
<!--                    label="SSL证书"-->
<!--                    prop="ssl">-->
<!--&lt;!&ndash;                <el-button @click="" type="text" size="small" style="color: green">未部署</el-button>&ndash;&gt;-->
<!--            </el-table-column>-->
            <el-table-column
                    prop="root"
                    label="根目录"
                    width="250">
            </el-table-column>
			<el-table-column
			        label="端口"
			        prop="port">
			</el-table-column>
            <el-table-column
                    label="操作"
                    fixed="right">
                <template slot-scope="scope">
<!--                    <el-button @click="" type="text" size="small">设置</el-button>-->
                    <el-button @click="delWebSite(scope.row)" type="text" size="small">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-card>
</div>
</body>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            nginxVersion: '',
            nginxStatus: '',
            dialogAddWebForm: false,
            website: [],
			WebSiteForm: {
				domain: '',
				port: '80'
			}
        },
        created:function(){
            this.getInfo();
            this.getWebList();
        },
        methods:{
            getInfo(){
                axios.post("/website/getinfo").then((res)=>{
                    if (res.data.flag){
                        this.nginxVersion = res.data.data[0].nginxVersion;
                        this.nginxStatus = res.data.data[0].nginxStatus;
                    }
                    else {
                        this.$message.error(res.data.message);
                    }
                })
            },
			getWebList(){
				axios.get("/website/list").then((res) => {
					if (res.data.flag){
					    this.website = res.data.data;
					}
					else {
					    this.$message.error(res.data.message);
					}
				})
			},
            addWebSiteTrue(){
				axios.post("/website/add",this.WebSiteForm).then((res) => {
					if (res.data.flag){
					    this.dialogAddWebForm = false;
					    this.$message.success(res.data.message);
					    this.getWebList();
					}
					else {
					    this.$message.error(res.data.message);
					}
				})
			},
            startNginx(){
                axios.post("/website/operate/Start").then((res) => {
                    if (res.data.flag){
                        this.getInfo();
                        this.$message.success(res.data.message);
                    }
                    else {
                        this.$message.error(res.data.message);
                    }
                })
            },
            stopNginx(){
                axios.post("/website/operate/Stop").then((res) => {
                    if (res.data.flag){
                        this.getInfo();
                        this.$message.success(res.data.message);
                    }
                    else {
                        this.$message.error(res.data.message);
                    }
                })
            },
            restartNginx(){
                axios.post("/website/operate/Restart").then((res) => {
                    if (res.data.flag){
                        this.getInfo();
                        this.$message.success(res.data.message);
                    }
                    else {
                        this.$message.error(res.data.message);
                    }
                })
            },
            delWebSite(row){
                axios.post("/website/del",row).then((res) =>{
                    if (res.data.flag){
                        this.$message.success(res.data.message);
                        this.getWebList();
                    }
                    else {
                        this.$message.error(res.data.message);
                    }
                });
            }
        }
    })
</script>
</html>
